services:
  npm:
    image: node:22
    volumes:
      - ./:/app
    working_dir: /app
    command: sh -c "npm ci && npm run build"


  composer:
    image: composer
    volumes:
      - ./:/app
    working_dir: /app
    command: "composer install --ignore-platform-reqs"

  php:
    image: php:8.3-cli
    volumes:
      - ./:/app
    working_dir: /app
    ports:
      - 8000:8000
    command: "php artisan serve --host=0.0.0.0"
